
body {
	background-color:#eee;
	font-family: 'Open Sans', sans-serif;

	 
	
}
html,body{
	/*overflow-x:hidden;*/
	/*overflow-y:visible;*/
	max-width: 100%; 
    min-width: 100%;
	
}

/*======================================================================*/
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
    font-size: 13px;
    
}



.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,0.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 20px;
    color: #fff;
    float: none;
 	margin-left: 43%;

}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
        background-color: #3399DD;
        box-shadow: 0px 2px 5px black;
    }
    

}

ul.navbar-nav a:hover{
	cursor: pointer;
}
/*========================================================*/

.date, .date ul {
	position: relative;
}

#section-1{
 	background:url(../img/powell.jpg)  no-repeat center ; 
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	opacity:1;
  	padding-bottom: 50%;
  	min-height:720px;
  	max-height:750px;
	overflow-y:auto;
	overflow-x:hidden;
  /*overflow-y:hidden;*/
}

#section-1-title {
	top:190px;
	left:50%;
	margin-left:-250px;
	position: absolute;
   
}

#section-1-title .caption {
	color:#fff;
	font-size:18px;
	text-align:center;
	text-shadow:2px 2px 4px black;
}

#section-1 h1 {
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size:60px;
	color:#fff;
	/*border:3px solid #fff;*/
	padding:8px;
	padding-bottom: 0px;
	text-shadow: 4px 4px 8px black;
	margin-bottom: -2px;
}

.sub{

	text-decoration: none;
	border-bottom: 3px solid #3399dd;
	width: 0px; 
	margin-left: auto;
	margin-right: auto;
	
    -webkit-transition: 1.5 ease;
            transition: 1.5s ease;
}

#fbgly{
	background-color:#3b5998;
	border:1px solid white;
		box-shadow:2px 2px 3px black;
}
#twtgly{
	background-color:#4099FF;
	border:1px solid white;
		box-shadow:2px 3px 3px black;
}
#fbgly:hover{
	background-color:white;
	box-shadow:3px 3px 5px black;
}
#twtgly:hover{
	background-color:white;
	box-shadow:3px 3px 5px black;
}

.animate-line{
    -webkit-transition: 2s ease;
            transition: 2s ease;
    border-bottom: 3px solid white;
	width: 500px;
}

#section-1 .info {
	height:135px;
	width:100%;
	position:relative;
	background-color:#ddd;
	opacity:0.8;
	top:500px;
	color:#fff;
	box-shadow: 5px 5px 5px #aaa;
}
#rsvp {
	position: absolute;
	left:50%;
	top:400px;
	margin-left:-24px;
	opacity:1; 
	padding: 0;
	padding-top: 26px;
	text-align:center;
	border:4px solid #cecece;
	background-color:#3399DD;
	height:100px;
	width:100px;
	border-radius:50px;
	border:4px solid #3399DD ;
	box-shadow: 4px 4px 5px black;
}

div#rsvp a{
	
	font-family: Montserrat;
	font-size:25px;
	color:white;
	text-decoration: none;
}
.btn-homepage {
    border: 1.5px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-homepage:hover,
.btn-homepage:focus {
    border: 1.5px solid #fff;
    outline: 0;
    color: #000;
    background-color: #fff;
}
#social{
	width:200px;
	height:60px;
	margin-left: auto;
	margin-right: auto; 
}
.xs-menu {
	position: absolute;
	left:440px;
	top:-50px;
}

.drop-container {
	position: absolute;
	margin-right:20px;
	margin-top:10px;
	right:0;
	width:100px;
}

#drop {
	font-size:30px;
	margin:0 auto;
	left:70px;	
}

.dropdown li:hover {
	cursor:pointer;
	background-color:#eee;
}

.dropdown li{
	padding:5px 30px;
	text-align: center;

}

.dropdown-menu {
	min-width: 0 !important;
	margin-right:120px;
}

hr {
	margin:0;
}

.date, .arrow-right, .side {
	display:inline-block;
	position: relative;
}

#find-map {
	text-decoration: underline;
}

#find-map:hover {
	cursor:pointer;
}


.side {
	margin-top:-100px;
	left:31px;
	top:31px;
	background-color:#2E72AA;
	width: 16px; 
	height: 115px; 	
	z-index:800;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;	
	border-left: 16px solid #2E72AA;
	top:47px;
	left:12px;

}

.date {
	background-color:#3399DD;
	width:420px;
	height:135px;
	border:0px solid #444;
	left:35px;
	font-size:19px;	
}

.info-top {
	position: absolute;
	width:100%;
	height:10px;
	background-color:#3399CC;
	z-index:900;
}

.date ul {
	top:20px;
	list-style-type: none;
}

.date span {
	font-size:23px;
	text-shadow: 1px 1px #ddd;
}

.others {
	position: absolute;
	top:10px;
	left:431px;
}

.others li {
	display:inline-block;
	position:relative;
	height:126px;
	width:69px;
	background-color:#555;
	margin-right:11px;
}

.others li:hover {
	cursor:pointer;
}

.others .side {
	position: absolute;
	margin:0;
	top:-5px;
	left:68px;
	background-color: #353535;
}

.others .arrow-right {
	position: absolute;
	left:68px;
	top:94px;
	border-left: 16px solid #353535;
	z-index:900;
}

.others .name {
	font-size:20px;
	width:5px;
}


.name span {
	position: relative;
	display:block;
	left:25px;
	line-height:24px;

}



#section-2{
	background:url('../img/texture.jpg') center no-repeat scroll;
	background-size: 100% 100%;
	background-attachment: fixed; 
	margin-top:-50px; 
	padding-top:10px;
	padding-bottom: 125px;
	/*overflow-y:visible;*/
	overflow-y:auto;
	overflow-x:hidden;
}

#about {
	width:0;
	position: relative;
	left:50%;
}


#about h1 {
	width:400px;
	font-family: Montserrat;
	margin-left:-45px !important;
}

#about p {
	margin-left:-205px;
	margin-top:10px;
	line-height: 30px;
	width:430px;
	padding:20px 30px;
	border-bottom:3px solid #333;
	border-radius:0px;
	text-align: center;
}

.a4 {
	font-size: 20px;
	font-weight: bold; 	
}




#about h1 {
	margin:50px 0  20px 0;
	margin-left:-140px;
}


#section-3{
	height:620px;
	background:url(../img/wolfgang.jpg);
	background-attachment: fixed; 
	background-size: 100% 100%; 
	font-family: Montserrat,sans-serif; 
	overflow-y:auto;
	overflow-x:hidden;
	padding-top: 40px;
}

#info{
	width:0;
	position: relative;
	left:50%;
}
#section-3 h1{
	position: relative;
	width:400px;
	font-family: Montserrat;
	color:white; 
	margin-left: -100px;
	text-shadow:4px 4px 5px black; 
	padding-bottom: 25px;
}

#section-3 h3{
	font-size: 26px;
	color:white;
	text-shadow:4px 4px 5px black; 
	margin-bottom: 20px;
	text-decoration: underline;
}

#section-3 p{
	font-size: 16px;
	padding-top:-350px;
	color:white;
	text-shadow:4px 4px 5px black; 
	width:400px;
	margin-bottom: 50px;
	
}

#date{
	margin-left:-40px;
}
#time{
	margin-left:-30px;
}
#venue{
	text-align:center;
	margin-left:-155px;
	
}
#holder{
	height:620px;
	
	margin-left:-200px; 
}

#holder h3{

	color:white; 
	text-shadow:3px 3px 3px black;
}

#section-5{
		padding-top:40px;
		height:700px;
		width:100%;
		background:url(../img/la.jpg) center;
		background-size: 100% 100%;
		background-attachment: fixed; 
		overflow-y:auto;
	overflow-x:hidden;

	}
#map{
	font-family:Montserrat;
	text-align:center;
	margin-left:70px;
	color:black;
	text-shadow:3px 3px 4px gray;
}
#map-canvas{
	position: relative;
	top:45px;
	height:450px;
	width:80%;
	margin:auto;
	box-shadow: 5px 5px 9px black;
}


#hsseas{
	display: block;
	height:200px;
	width:300px;
	background: url(../img/hsseas.jpg) center;
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-color: white; 
	margin-bottom: 20px;
	/*box-shadow: 3px 3px 5px black;*/
	margin-left: auto;
	margin-right: auto;
}
#organisers{
	height:750px;
	width:100%;
	background:url(../img/texture.jpg) center;
	background-size: 100% 100%;
	background-attachment: fixed; 
	padding-top:40px;
	overflow-y:auto;
	overflow-x:hidden;
}
#organisers h1{
	font-family: Montserrat;
	color: black;
	margin-bottom: 65px;

}
#organisers h3{
	font-family: Montserrat;
	color: black;
	margin-bottom: 5px;

}
.col-md-4{
	padding-left: 0px;
}
#esuc{
	display: block;
	height:200px;
	width:300px;
	background: url(../img/esuc.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white; 
	margin-bottom: 20px;
	/*box-shadow: 3px 3px 5px black;*/
	
	

	
}
#be{
	display: block;
	height:200px;
	width:300px;
	background: url(../img/be.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	/*box-shadow: 3px 3px 5px black;*/

}
#swe{
	display: block;
	height:200px;
	width:300px;
	background: url(../img/swe.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	/*box-shadow: 4px 4px 8px black;*/
}
footer {
	position: relative;
	width:100%;
	height:80px;
	background-color: #ecf0f1;
	text-align: center;
	overflow-y:auto;
	overflow-x:hidden;
}

footer p {
	line-height: 85px;
	color:#000;
	overflow-y:auto;
	overflow-x:hidden;
}

footer a{
	color:#243879;
	text-shadow: 2px 1px #55AADD;
}

#cover {
	visibility:hidden;
	position:absolute;
	height:100%;
	width:100%;
	background-color:#3399DD;
	z-index:999;
}

#intro-logo, #intro-caption {
	left:50%;
	top:50%;
	position:absolute;
	overflow-y:hidden;
}

.esuc-desc {
	position:absolute;
	top:96px;
	left:5px;
	width:140px;
	color:#444;
	text-align:center;
}

#intro-logo{
	line-height:0;
	margin-top:-180px;
	margin-left:-330px;
}

#cover #esuc-logo{
	position:relative;
	left:10px;
	top:10px;
}

#intro-caption {
	font-size:26px;
	color:#eee;
	display:none;
}

.skip {
	color:#444;
	float:right;
	font-size:18px;
	position:relative;
	top:20px;
	right:10px;
}

.skip:hover{
	cursor:pointer;
}

#section-4 {
	background-image:url('../img/band.jpg');
	opacity:0.9;
	background-attachment:fixed;
	background-repeat: no-repeat;
	width:100%; 
	height:500px;
	background-size: 100% 100%;
	margin-top: 0px;
	font-family:Montserrat;
	overflow-y:auto;
	overflow-x:hidden;
}

.line {
	position: absolute;
	height:1px;
	width:100%;
	background-color:white;
	box-shadow: 5px 2px 5px #000;
	overflow-y:auto;
	overflow-x:hidden;

}


.blur {
	position: absolute;
	z-index:-999;
	background-color:rgba(40,40,40,0.5);
	width:100%;
	height:500px;
}

.wrap{
	font-family:Montserrat;
}
.wrap h1{
	color:white;
	padding-top:50px;
	
}
.wrap h3 {
	position: relative;
	font-size:30px;
	color:#fff;
	text-decoration: underline; 
}

.wrap h4 {
	color:#ddd;
	position: relative;
	top:10px;
	font-size:18px;
	margin-bottom:-60px;
}

.follow {
	position: relative;
	left:50%;
	top:150px;
	margin-left:-110px;
	padding:15px;
	z-index: 999;
}

.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.2909, 0, 0, 0, 0, 0.2909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2909, 0, 0, 0, 0, 0.2909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.59685, 0, 0, 0, 0, 0.59685, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.59685, 0, 0, 0, 0, 0.59685, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.85548, 0, 0, 0, 0, 0.85548, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.85548, 0, 0, 0, 0, 0.85548, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.03794, 0, 0, 0, 0, 1.03794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03794, 0, 0, 0, 0, 1.03794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.14088, 0, 0, 0, 0, 1.14088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14088, 0, 0, 0, 0, 1.14088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.16606, 0, 0, 0, 0, 1.16606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.16606, 0, 0, 0, 0, 1.16606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(1.12889, 0, 0, 0, 0, 1.12889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.12889, 0, 0, 0, 0, 1.12889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(1.08275, 0, 0, 0, 0, 1.08275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.08275, 0, 0, 0, 0, 1.08275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1.0397, 0, 0, 0, 0, 1.0397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0397, 0, 0, 0, 0, 1.0397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(1.00644, 0, 0, 0, 0, 1.00644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00644, 0, 0, 0, 0, 1.00644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.97516, 0, 0, 0, 0, 0.97516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97516, 0, 0, 0, 0, 0.97516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97367, 0, 0, 0, 0, 0.97367, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97367, 0, 0, 0, 0, 0.97367, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.97763, 0, 0, 0, 0, 0.97763, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97763, 0, 0, 0, 0, 0.97763, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.98414, 0, 0, 0, 0, 0.98414, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98414, 0, 0, 0, 0, 0.98414, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(0.99098, 0, 0, 0, 0, 0.99098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99098, 0, 0, 0, 0, 0.99098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00085, 0, 0, 0, 0, 1.00085, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00085, 0, 0, 0, 0, 1.00085, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00396, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00396, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00371, 0, 0, 0, 0, 1.00371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00371, 0, 0, 0, 0, 1.00371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(0.99967, 0, 0, 0, 0, 0.99967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99967, 0, 0, 0, 0, 0.99967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.2909, 0, 0, 0, 0, 0.2909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2909, 0, 0, 0, 0, 0.2909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.59685, 0, 0, 0, 0, 0.59685, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.59685, 0, 0, 0, 0, 0.59685, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.85548, 0, 0, 0, 0, 0.85548, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.85548, 0, 0, 0, 0, 0.85548, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.03794, 0, 0, 0, 0, 1.03794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03794, 0, 0, 0, 0, 1.03794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.14088, 0, 0, 0, 0, 1.14088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14088, 0, 0, 0, 0, 1.14088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17694, 0, 0, 0, 0, 1.17694, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.16606, 0, 0, 0, 0, 1.16606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.16606, 0, 0, 0, 0, 1.16606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(1.12889, 0, 0, 0, 0, 1.12889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.12889, 0, 0, 0, 0, 1.12889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(1.08275, 0, 0, 0, 0, 1.08275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.08275, 0, 0, 0, 0, 1.08275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1.0397, 0, 0, 0, 0, 1.0397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0397, 0, 0, 0, 0, 1.0397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(1.00644, 0, 0, 0, 0, 1.00644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00644, 0, 0, 0, 0, 1.00644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98522, 0, 0, 0, 0, 0.98522, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.97516, 0, 0, 0, 0, 0.97516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97516, 0, 0, 0, 0, 0.97516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97367, 0, 0, 0, 0, 0.97367, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97367, 0, 0, 0, 0, 0.97367, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.97763, 0, 0, 0, 0, 0.97763, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97763, 0, 0, 0, 0, 0.97763, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.98414, 0, 0, 0, 0, 0.98414, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98414, 0, 0, 0, 0, 0.98414, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(0.99098, 0, 0, 0, 0, 0.99098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99098, 0, 0, 0, 0, 0.99098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99677, 0, 0, 0, 0, 0.99677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00085, 0, 0, 0, 0, 1.00085, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00085, 0, 0, 0, 0, 1.00085, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00396, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00396, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00371, 0, 0, 0, 0, 1.00371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00371, 0, 0, 0, 0, 1.00371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00089, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00014, 0, 0, 0, 0, 1.00014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(0.99967, 0, 0, 0, 0, 0.99967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99967, 0, 0, 0, 0, 0.99967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99944, 0, 0, 0, 0, 0.99944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99941, 0, 0, 0, 0, 0.99941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

#p1 {
	background-image:url(../img/dean.jpg) !important;
}


@media all and (max-width: 1024px) {

	#section-3 h1{
		margin-left: -110px;
	}

	#section-3 h3{
		margin-left: -20px;
		font-size: 24px;
	}
	#date{
		margin-left:-65px;
	}
	#time{
		margin-left:-55px;
	}
	#venue{
		margin-left:-185px;
	}
	#section-1{
		background:url(../img/powell.jpg) center ; 
 	background-repeat: no-repeat;
  	background-size: cover; 
  	opacity:1;
  	min-height:720px;
  	max-height:750px;
  	height: 100% ;
  	width: 100%;
	margin-bottom: 50px; 


	}

 	#section-1-title {
 		width:300px;
 		margin-left:-140px;
 	}

 	#section-1-title h1 {
 		margin-top:-30px;
 		font-size:30px;
 		padding:30px 0 30px 0;
 	}	

 	#section-1 h1{
 		margin-bottom: -30px;
 	}

 	#section-1 .caption{
 		font-size: 16px;

 	}

 	.info-top {
 		display:none;
 	}
 	#section-2{
 		background:url('../img/texture.jpg') center no-repeat scroll;
		background-size: 100% 100%;
 		background-attachment: scroll;

 	}
 	#section-3{
 		background:url('../img/wolfgang.jpg') center no-repeat scroll;
		background-size: 100% 100%;
 		background-attachment: scroll;

 	}
	
	#section-5{
		background-attachment: scroll; 
	}
	
	#map{
	font-family:Montserrat;
	text-align:center;
	margin-left:30px;
	font-size: 30px;
}

#organisers{
	background-attachment: scroll;
	height: 1250px;

}

#organisers h1{
	font-size: 30px; 
}
.row{
	display: table-cell;
	vertical-align: middle;
}


	.wrap h1{
		font-size: 30px;
	}

	#section-4{
		background-attachment: scroll;
	}
 	.animate-line{
    -webkit-transition: 1.6s ease;
            transition: 1.6s ease;
    border-bottom: 3px solid white;
	width: 250px;

	}
	div#rsvp{
	margin-top: -30px;
	background-color:#3399DD;
	height:80px;
	width:80px;
	border-radius:40px;
	text-align:center;
	padding: 0; 
	padding-top: 26px;
	border:4px solid #3399DD ;

}

div#rsvp a{
	
	font-family: Montserrat;
	font-size:16px;
	color:white;
	text-decoration: none;
}



 	#about p {
 		width:300px;
 		margin-left:-150px;
 	}
 	p.a4{
 		font-weight: bold; 
		font-size: 16px;
 	}

	
 	.date ul {
 		padding-left:20px;
 	}

 	.date li {
 		font-size:14px;
 	}

 	#about h1 {
 		position: relative;
 		font-size:30px;
 		left:-80px;
 		width:250px;
 		text-align: center;
 	}
	#section-3 h1{
		font-size:30px;
	}
 	.info {
 		background-color:#3399DD !important;
 		border-radius:5px;
 		box-shadow:15px 15px 15px #333 !important;
 	}

 	.side {
 		display:none;
 	}

 	.arrow-right {
 		display:none;
 	}

 	.date span {
 		font-size:18px;
 	}

 	.address h1 {
 		font-size:30px;
 	}

 	.address h5 {
 		margin-top :5px;
 		width:300px;
 	}

 	.esuc-desc {
 		font-size:12px;
 	}

 	#intro-caption {
 		text-align: center;
 		font-size:20px;

 	}

 	footer p{
 		font-size:12px;
 	}
}

